root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx}]
max_line_length = 100
ij_javascript_space_before_function_left_parenth = false
ij_javascript_space_before_method_parentheses = false
ij_javascript_chained_call_dot_on_new_line = true
ij_javascript_enforce_trailing_comma = remove
ij_javascript_use_semicolon_after_statement = false
